body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(17, 27, 39);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

  .btnWith{
    min-width: 170px;
  }


  
.contenedorAriculos{
  margin: auto;
  padding: 20px;
  width: 600px;
  height: 1000px;
  background-color: rgb(93, 93, 187);
  border-color: black;
  border-left: 20px solid;
  box-shadow: 2px 2px 2px ;
  
}

.divArticulos{
  background-color: rgb(130, 130, 196);
  border-color: black;
  border-bottom: 5px solid;
  margin-bottom:10px ;
}

.articulosBotones{
  display: flex;
  justify-content: space-between;
}

.margin-right{
  margin-right: 10px;
}

.numArticulo{
  background-color: aliceblue;
  height: 30px;
  width: 30px;
}
.articulosEnCarrito{
  background-color: rgb(151, 173, 202);
  height: 30px;
  width: 200px;
  border-color: black;
  border-bottom: 5px solid;
  margin-bottom:10px ;
}

.max-width-800{
  max-width: 800px;
}